.header {
    display: left;
    background-color: black;
    text-emphasis-color: rgb(0, 0, 0);
    text-align: left;  
    padding: 0px;
    font-size: 85px;
    font-family: 'Oswald', sans-serif;
    
  
  }


  .topnav {
    display: flex;
    overflow: hidden;
    background-color: #dadada;
  }
  

  .topnav a {
    float: left;
    display: block;
    color: #020101;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .topnav a:hover {
    background-color: rgb(201, 189, 203);
    color: rgb(137, 124, 124);
  }

  body {
    
     background-color: #343a40;
      
    font-family: 'Oswald', sans-serif;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
   }
   
   h2 {
   background-color: black;
   color: lightgray;
   }

   h1 {
     margin: 25px;
   }